@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: overlay;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #B71C1C77;    /* color of the scroll thumb */
}

section::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        appearance: textfield;
        -moz-appearance: textfield !important;
    }
}
