@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: overlay;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #B71C1C77;    /* color of the scroll thumb */
}
